<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.crs.reserve.dao.CarMapper">
  <resultMap id="BaseResultMap" type="Car">
    <id column="car_id" jdbcType="INTEGER" property="carId" />
    <result column="car_no" jdbcType="VARCHAR" property="carNo" />
    <result column="car_diver_name" jdbcType="VARCHAR" property="carDiverName" />
    <result column="car_diver_phone" jdbcType="VARCHAR" property="carDiverPhone" />
    <result column="car_type" jdbcType="INTEGER" property="carType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    car_id, car_no, car_diver_name, car_diver_phone, car_type
  </sql>
  <select id="selectByExample" parameterType="CarExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_car
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_car
    where car_id = #{carId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_car
    where car_id = #{carId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="CarExample">
    delete from t_car
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="Car">
    insert into t_car (car_id, car_no, car_diver_name, 
      car_diver_phone, car_type)
    values (#{carId,jdbcType=INTEGER}, #{carNo,jdbcType=VARCHAR}, #{carDiverName,jdbcType=VARCHAR}, 
      #{carDiverPhone,jdbcType=VARCHAR}, #{carType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="Car">
    insert into t_car
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="carId != null">
        car_id,
      </if>
      <if test="carNo != null">
        car_no,
      </if>
      <if test="carDiverName != null">
        car_diver_name,
      </if>
      <if test="carDiverPhone != null">
        car_diver_phone,
      </if>
      <if test="carType != null">
        car_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="carId != null">
        #{carId,jdbcType=INTEGER},
      </if>
      <if test="carNo != null">
        #{carNo,jdbcType=VARCHAR},
      </if>
      <if test="carDiverName != null">
        #{carDiverName,jdbcType=VARCHAR},
      </if>
      <if test="carDiverPhone != null">
        #{carDiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="carType != null">
        #{carType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="CarExample" resultType="java.lang.Long">
    select count(*) from t_car
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_car
    <set>
      <if test="record.carId != null">
        car_id = #{record.carId,jdbcType=INTEGER},
      </if>
      <if test="record.carNo != null">
        car_no = #{record.carNo,jdbcType=VARCHAR},
      </if>
      <if test="record.carDiverName != null">
        car_diver_name = #{record.carDiverName,jdbcType=VARCHAR},
      </if>
      <if test="record.carDiverPhone != null">
        car_diver_phone = #{record.carDiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.carType != null">
        car_type = #{record.carType,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_car
    set car_id = #{record.carId,jdbcType=INTEGER},
      car_no = #{record.carNo,jdbcType=VARCHAR},
      car_diver_name = #{record.carDiverName,jdbcType=VARCHAR},
      car_diver_phone = #{record.carDiverPhone,jdbcType=VARCHAR},
      car_type = #{record.carType,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="Car">
    update t_car
    <set>
      <if test="carNo != null">
        car_no = #{carNo,jdbcType=VARCHAR},
      </if>
      <if test="carDiverName != null">
        car_diver_name = #{carDiverName,jdbcType=VARCHAR},
      </if>
      <if test="carDiverPhone != null">
        car_diver_phone = #{carDiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="carType != null">
        car_type = #{carType,jdbcType=INTEGER},
      </if>
    </set>
    where car_id = #{carId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Car">
    update t_car
    set car_no = #{carNo,jdbcType=VARCHAR},
      car_diver_name = #{carDiverName,jdbcType=VARCHAR},
      car_diver_phone = #{carDiverPhone,jdbcType=VARCHAR},
      car_type = #{carType,jdbcType=INTEGER}
    where car_id = #{carId,jdbcType=INTEGER}
  </update>
</mapper>